@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ff-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    --ff-serif: 'Noto Serif', serif;
    --ff-mono: 'IBM Plex Mono', monospace;
    --ff-handwriting: 'Playwrite CU', cursive;

    --color-primary: hsl(193, 15%, 99%);
    --color-secondary: hsl(193, 15%, 98%);
    --color-secondary-hover: hsl(193, 15%, 96%);
    --color-secondary-border: hsl(193, 15%, 90%);
    --color-accent: #01B3E4;
    --color-accent-dark: #172A3A;
    --color-text: rgba(0, 0, 0, 0.87);
    --color-text-light: rgba(102, 102, 102, 0.87);
  }

  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
    overflow-x: clip;

    font-family: var(--ff-sans);
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-text);
    background-color: var(--color-primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: light dark;
  }

  #root {
    width: 100%;
    position: relative;
  }
}

@layer utilities {
  .btn-gradient {
    
  }
  .material-symbols-rounded.text-lg {
    font-size: 1.125rem;
  }

  .material-symbols-rounded.text-xl {
    font-size: 1.25rem;
  }

  .material-symbols-rounded.text-2xl {
    font-size: 1.5rem;
  }

  .material-symbols-rounded.text-3xl {
    font-size: 1.875rem;
  }

  .material-symbols-rounded.text-4xl {
    font-size: 2.25rem;
  }

  .material-symbols-rounded.text-5xl {
    font-size: 3rem;
  }

  #sidebar.is-close {
    @apply hidden;
  }

  #sidebar.is-open {
    @apply flex;
  }

  #sidebar.is-open.hidden {
    display: none;
  }
}

@layer utilities {
  .spin {
    animation: spin 20s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .move-plane {
    animation: move-plane 2s ease-out forwards;
  }

  @keyframes move-plane {
    0% {
      transform: translate(0, 50vh);
      rotate: -45deg;
    }
    100% {
      transform: translate(-1rem, 0rem);
      rotate: -45deg;
    }
    
  }
}
